/* color */
/* backgroudcolor rgba(229, 229, 229, 1) */
/* second_backgroudcolor rgba(245, 244, 250, 1) */
/* front_text_color rgba(33, 33, 33, 1) *
    /* second_text_color rgba(117, 117, 117, 1) */
/* hover_text_color rgba(33, 150, 243, 1) */
/* adress_mailphone_color rgba(255, 255, 255, 0.6) */
/* footer_color: rgba(0, 0, 0, 1) */
:root {
  --backgroud_color_var: rgba(236, 236, 236, 1);
  --second_backgroud_color: rgba(229, 229, 229, 1);
  --primary_text_color: rgba(33, 33, 33, 1);
  --second_text_color: rgba(117, 117, 117, 1);
  --white_color_text: rgba(255, 255, 255, 1);
  --hover_text_color: rgba(33, 150, 243, 1);
  --footer_color: rgba(0, 0, 0, 1);
  --border_image: rgba(47, 48, 58, 1);
  --mailphone_footer: rgba(255, 255, 255, 0.6);
  --image_theme: rgba(238, 238, 238, 1);
}
body {
  background-color: var(--white_color_text);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary_text_color);
}
.hide-text {
}
button {
  font-family: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
}
/* Логотип верх */
.web-logo,
.studio-logo-head {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-logo {
  color: var(--hover_text_color);
}
.studio-logo-head {
}
/* навигация шапки */
ul > .linknow a {
  color: var(--hover_text_color);
}
.head_navigator  a {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.head_navigator a:hover {
  color: var(--hover_text_color);
}
.head_navigator a:focus {
  color: var(--hover_text_color);
}
.mailphone-head {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second_text_color);
}
.mailphone-head:hover {
  color: var(--hover_text_color);
}
.mailphone-head:focus {
  color: var(--hover_text_color);
}
/* BIG IMAGE */
.big-image {
  background-color: var(--border_image);
  width: 1600px;
}
.big-image-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white_color_text);
}
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white_color_text);
  background-color: var(--hover_text_color);
}
.button-hero:hover {
  background-color: rgb(0, 140, 255);
}
.button-hero:focus {
  background-color: rgb(0, 140, 255);
}
/* особенности */
.text-h-index {
  font-weight: 700;
  text-transform: uppercase;
}
.text-p-index {
    color: var(--second_text_color);
    font-size: 16px;
    line-height: 1.18
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* myteam */
.sect_myteam {
  background-color: var(--second_backgroud_color);
}
.photo_myteam {
  background-color: var(--white_color_text);
}
.name_team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.work_place {
  text-align: center;
  color: var(--second_text_color);
  font-size: 16px;
  line-height: 1.18;
}
/* Логотип футер */
.studio-logo-foot,
.adres_street {
  color: var(--white_color_text);
}
.adress-footer {
  color: var(--mailphone_footer);
}
/*футер */
footer {
  background-color: var(--primary_text_color);
}
.adress-footer,
.adres_street {
  font-family: 'Roboto';
  font-style: normal;
  cursor: default;
  line-height: 1.9;
}
.adress-footer:hover {
  color: var(--hover_text_color);
}
.adress-footer:focus {
  color: var(--hover_text_color);
}
/* PORTFOLIO PAGE */
.button-portf button {
  background-color: var(--second_backgroud_color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.button-portf button:hover {
  background-color: var(--hover_text_color);
  color: var(--white_color_text);
}
.button-portf button:focus {
  background-color: var(--hover_text_color);
  color: var(--white_color_text);
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portf-paragraf {
  font-size: 16px;
  line-height: 1.91;
  color: var(--second_text_color);
}
